################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataUpdater/bin/Debug/net6.0
/DataUpdater/obj/Debug/net6.0
/DataUpdater/obj
